<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>The Current Count Is:</h2>
  <h1>
    {{count$ | async}}
  </h1>
</div>
<div style="text-align:center">
  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()">Reset</button>
  <button (click)="increment()">Increment</button>
</div>
<div style="text-align: center">
  <input type="number" [(ngModel)]="setValue">
  <button (click)="set(setValue)">Set Value</button>
</div>
<div style="text-align:center">
  <h2>The Current Pokemon Is:</h2>
  <h1 *ngIf="pokemon$ | async">
    {{(pokemon$ | async)!.name}}
    <br>
    <img src="{{(pokemon$ | async)!.sprites.front_default}}">
  </h1>
</div>
<div style="text-align: center">
  <input type="text" [(ngModel)]="pokeQuery">
  <button (click)="getPoke(pokeQuery)">Get Poke</button>
</div>